.env
.zed/
node_modules/
build/
package-lock.json
yarn.lock
.DS_Store
map.txt
new \1.txt
map_bak.txt
error.log
combined.log
/artifacts
!components/artifacts
!components/artifacts/*
user_preferences.json
