.env
.zed/
node_modules/
build/
dist/
package-lock.json
yarn.lock
.DS_Store
map.txt
error.log
combined.log
/artifacts
!components/artifacts
!components/artifacts/*
user_preferences.json
database.sqlite
